.hex2rgb {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.hex2rgb_input {
    display: flex;
    text-align: center;
    border: 1px solid black;
    width: 150px;
    height: 25px;
    color: black;
}

.converted-color {
    border: 1px solid black;
    height: 25px;
    width: 150px;
}